@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

body {
  font-family: var(--font-montserrat);
  font-size: var(--text-base);
}

h1 {
  font-family: var(--font-limelight);
  font-size: var(--text-2xl);
}

.app_hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.app_hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@theme {
  --font-limelight: 'Limelight';
  --font-montserrat: 'Montserrat';
}
